<html>

<head>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="http://bootswatch.com/darkly/bootstrap.min.css">

<link href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>

<title>URL Tracker</title>
</head>
<body>



        <header class="navbar navbar-inverse navbar-fixed-top" role="banner">
      <div class="container">
        <div class="navbar-header-solid">
           <a class="navbar-brand" href="{% url 'home' %}"> <i class="fa fa-search fa-1x"> URL Tracker</i></a>
                      
        </div>
    
        <div class="col-md-6">
          

        </div>  


           <ul class="nav navbar-nav navbar-right">
        
          {% if user.is_authenticated %}
            
            <li><a href="#"><i class="fa fa fa-user"></i> <b>Batman</b></a></li>
           <li><a href="#"><i class="fa fa-sign-out"></i> <b>Logout</b></a></li>
    
            {% else %}
          <li>
              <a href="#"><i class="fa fa-google-plus fa-2x"> Sign In</i></a>
          </li>     
           {% endif %}
                 
          </ul> </div>
      </div>
    </header>
    <!-- <br/> -->
    <br/>
   <div class="container">
   <div class="row">
   
   
<br>
<br>
    {% block content %}
    


    {% endblock content %}
    </div>


   </div>
 
</body>
<!--footer>
 <p>
          Built with lots of <span style="color: #C0392B;">♥</span> and little bit of Python
        </p>
</footer-->
</html>