{% extends "/home/gururaj/django-autourl/ubuild/templates/ubuild/base.html" %}
{% block content %}
<div class="container">
<div class="col-md-8">
  
  <h1>Details</h1>
  <table class="table  table-hover ">
  <thead>
    <tr class="success">
      
      <th>Id</th>
      <th>Remote Address</th>
      <th>Time</th>
    </tr>
  </thead>
  <tbody>
  {% for l in logs %}
    <tr>
      
      <td><a href="details/{{l.pk}}">{{l.id}}</td>
      <td>{{l.remoteAddr}}</td>
      <td>{{l.time}}</td>
    </tr> 
   {% endfor %}
  </tbody>
</table>

</div> 

</div>
{% endblock %}